<form [formGroup]="form">
  <label>
    Title: <input formControlName="title">
  </label>
  <p></p>
  <label>
    Files: <input type="file" multiple (change)="selectFiles($event)">
  </label>
  <h3>Fields:</h3>
  <div formArrayName="fields">
    <div *ngFor="let item of fields.controls; let index=index" [formGroupName]="index">
      <label>
        Title: <input formControlName="column_title_name">
      </label>

      <label>
        Content: <input formControlName="column_content_name">
      </label>

      <label>
        Date: <input formControlName="column_date_name">
      </label>

      <label>
        URL: <input formControlName="column_url_name">
      </label>
    </div>
<!--    <button type="button" (click)="addFields()" *ngIf="isEqualFilesToFields()">Add Fields</button>-->
  </div>
  <button (click)="sendData()">Send Data</button>
</form>

<ul>
  <li *ngFor="let file of fileArray">File: {{file.name}}</li>
</ul>
